@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
 *{
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: karla, sans-serif;
  font-weight: 400, 700;
}

h1{
  font-family: DM Serif Display, sans-serif;
  font-weight: 400;
}

/* grid layout */
[class*="col-"] {
  float: left;
  padding: 15px;
  height: 100%;  
}

.row{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    
}


.row::after{
    content:"";
    display: table;
    clear: both;
   
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 { width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 { width: 75%;}
.col-10 {width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 {width: 100%;}

li,
a {
  font-size: 1em;
  text-decoration: none;
  list-style: none;
}

.toggle-btn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: hsl(256, 26%, 20%);
  margin: 6px 0;
  transition: 0.4s;
}
/* rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* fade out second bar */

.change .bar2 {
  opacity: 0;
}

/* rotate last bar */

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
/* 
header {
  background-color: hsl(0, 0%, 98%);
  padding: 10px;
  
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: hsl(256, 26%, 20%);
  width: 80%;
  margin: 0 auto;
}
.logo {
  font-size: 1.5em;
  text-transform: uppercase;
}

.logo:hover {
  cursor: pointer;
}

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_links li {
  list-style: none;
}

.navbar_links li a {
  text-decoration: none;
  color: hsl(273, 4%, 51%);

  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}
.navbar_links li {
  padding: 11px;
}

.navbar_links li a:hover {
  color: hsl(270, 9%, 17%);
}

.navbar_links li:last-child {
  border: 1px hsl(256, 26%, 20%) solid;
  padding: 0px 12px;
  margin-left: 10px;
  margin-top: 10px;
}
#cta:hover {
  color: hsl(0, 0%, 98%);
}

.navbar_links li:last-child:hover {
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  cursor: pointer;
}

header{
  position: relative;
  z-index: 9999;
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_links {
    display: none;
    width: 100%;
    background-color: hsl(256, 26%, 20%);

    position: absolute;
    top: 68px;
    right: 0;
    height: 500px;
    padding-top: 20px;
    background-image: url("../images/bg-pattern-mobile-nav.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }
  .navbar_links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar_links li {
    text-align: center;
    color: hsl(0, 0%, 98%);
  }

  .navbar_links li a:hover {
    color: hsl(0, 0%, 98%);
  }

  .navbar_links.active {
    display: flex;
  }
  .navbar_links li:last-child {
    border: 1px hsl(0, 0%, 98%) solid;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 6px;
  }
}


button{
  position: relative;
  z-index: 9999;
}
.mobile{
  display: none;
}
.introduction{
  position: relative;
  background-color: hsl(256, 26%, 20%);
  height: 600px; 
  
}



.introduction::after{
  content: "";
  position: absolute;
  top: 0; right: 0;
  bottom: -340px; left: 0;
  background-image: url("../images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;

  
  
}
 .desktop::after{
  content: "";
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 30px;
  background-image: url("../images/bg-pattern-intro-right-desktop.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 27%;
  
  
 }

 
.introduction img{
  width: 100%;
  height: auto;

}
.introduction hr{
  float: left;
  width: 20%;
}
.introduction hr::after{
  content: "";
  display: block;
  clear: both;
}

.introduction{
  padding: 80px 0 0 0;
  color: hsl(0, 0%, 98%);
}
.heading-top{
  font-size: 4vw;
  line-height: 50px;
  
}

.introduction button{
  
  border: 1px hsl(0, 0%, 98%) solid;
  padding: 10px 25px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  margin-top: 10px;
  
  
}

button:hover{
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}

/* services */

.services{
  margin-top: 40vh;
  
}

.heading-mid{
  font-size: 70px;
  color: hsl(270, 9%, 17%);
  clear: left;
  padding: 50px 0 0 0;
}

.hr-mid{
  float: left;
  width: 20%;

}
.hr-mid::after{
  content: "";
  display: block;
  clear: both;
  
}

.call-action{
  margin: 100px 0;
}

.call-to-action{
  background-color: hsl(256, 26%, 20%);
  height: 250px;
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}

.call-to-action button{
  border: 1px hsl(0, 0%, 98%) solid;
  padding: 10px 25px;
  color: hsl(0, 0%, 98%);
  background-color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  position: relative;
  top: 40%;
  bottom: 40%;
  left: 10%;
}
.call-to-action button:hover{
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  color: hsl(256, 26%, 20%);
}
.find-out{
  padding: 15px;
  margin-left: 50px;
  color: hsl(0, 0%, 98%);
  font-size: 45px;
  line-height: 48px;
}

.icon-section{
  height: 100px;
}
.header-icon{
  font-size: 40px;
  text-transform: uppercase;
}
.icons ul li{
  display: inline-block;
  position: relative;
  
  margin-top: 30px;
  margin-left: 12px;
  left: 65px;
}

 
footer{
  padding-top: 80px;
  background-image: url("../images/bg-pattern-footer-desktop.svg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.footer-list{
  margin-top: 10px;
  
}
.footer-list li{
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  color: hsl(270, 9%, 17%);
}
.footer-list li:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footer-list li:nth-child(1){
  padding: 0 0 20px 0;
  color: hsl(273, 4%, 51%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* media querries */

@media only screen and (min-width: 320px) and (max-width: 425px){
  [class*="col-"] {
    width: 100%;
    padding: 0;
    
  
  } 

  .introduction .row{
    width: 100%;
  }
  body{
    text-align: center;
  }
  .introduction::after{
    display: none;
    
  }

  .introduction{
    height: auto;
    padding-top: 0;
    
    

  }
  .top-content{
    background-image: url("../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .desktop::after{
    content: "";
    position: absolute;
    top: 0; right: 0;
    bottom: -142px; left: 0;
    background-image: url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    
  }
  .introduction hr{
    display: none;
  }

  .desktop img{
    display: none;
  }

  .mobile{
    display: block;
  
}

 .mobile img{
  width: 100%;

}

.heading-top{
  font-size: 10vw;
  line-height: 40px;
  margin: 15px;
}

.top-content p{
  padding: 20px;
}

.top-content button{
  margin: 25px;
}

.hr-mid{
  float: none;
  width: 50%;
}

.heading-mid{
  font-size: 40px;
  padding: 0;
}

.call-to-action{
  width: 90%;
  margin: 0 auto;
  height: auto;
  background-image: none;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}

.find-out{
  padding:20px 0 0 0;
  margin: 0 auto;
}

.call-to-action button{
  left: 0;
  margin: 50px;
}
/* footer */
.icons ul{
  margin: 0;
  padding: 0;
}
.icons ul li{
  position: relative;
  left: 0;
  
}


.header-icon{
  margin-bottom: 0;
}

.footer-list ul{
  padding: 0;
}

 footer{
   background-image: none;
   background-image: url("../images/bg-pattern-footer-mobile.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: top;
 }


}


/* only 768 view */
@media (width: 768px){
 
  [class*="col-"] {
    width: 100%;
    padding: 0;
    
  
  }  


  .top-content{
    background-image: url("../images/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .top-content::after{
    content: "";
    position: absolute;
    top: 0; right: 0;
    bottom: -180px; left: 0;
    
    background-image: url("../images/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
     
  }

  .introduction .row{
    width: 100%;
  }
  body{
    text-align: center;
  }
  .introduction::after{
    display: none;
    
  }

  .introduction{
    height: auto;
    padding-top: 0;

  }

  .introduction hr{
    display: none;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  
}

 .mobile img{
  width: 100%;

}

.heading-top{
  font-size: 10vw;
  line-height: 70px;
  margin: 15px;
}

.top-content p{
  padding: 20px;
}

.top-content button{
  margin: 25px;
}

.hr-mid{
  float: none;
  width: 30%;
}

  .icons ul{
    padding: 0;
  
  }
  .icons ul li{
    position: relative;
    left: 0;
    
  }

  .call-to-action{
    width: 90%;
    height: auto;
  }

  .find-out{
    font-size: 38px;
    padding:40px 0 0 25px;
    margin: 0 auto;
  }
  .call-to-action button{
    left: 20px;
    padding: 10px;
    margin: 20px;
    z-index: 9999;
  }

  .services{
    text-align: center;
  }

  .footer-list ul{
    padding: 0;
  }

}
 @media (width:1440px){
  .icons ul li{
    position: relative;
    margin-left: 40px;
  }
 }
